[user]
  name = fenekku
  email = fenekku@fenekku.com

[alias]
  a = add
  addinteractive = add --patch
  aliases = "!git config --get-regexp alias"
  br = branch
  branches = branch --all
  # cleanup = "!git branch | awk '!/master|develop/' | xargs git branch -d"
  cleanup = "!f(){ git checkout master ; for b in $(git branch --no-contains); do if [ ! $(git cherry -v upstream/master $b | grep \"^+\") ]; then git branch -D $b; fi; done };f"
  co = checkout
  ci = commit
  d = icdiff
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  praise = blame
  search = log --all --grep
  showfiles = show --pretty="format:" --name-only
  squash = rebase --interactive
  st = status --short
  stashes = stash list
  sub = reset --quiet HEAD --
  sync = !git checkout master && git fetch --all --prune && git merge --ff-only upstream/master && git checkout -
  tags = tag
  uncommit = reset --mixed

[color]
  ui = true

[core]
  editor = subl --new-window --wait
  excludesfile = $HOME/.gitignore_global

[push]
  default = current

[credential]
  helper = cache --timeout 3600

[merge]
tool = sublimerge

[mergetool "sublimerge"]
cmd = subl -n --wait \"$REMOTE\" \"$BASE\" \"$LOCAL\" \"$MERGED\" --command \"sublimerge_diff_views\"
trustExitCode = false

[diff]
tool = sublimerge

[difftool "sublimerge"]
cmd = subl -n --wait \"$REMOTE\" \"$LOCAL\" --command \"sublimerge_diff_views {\\\"left_read_only\\\": true, \\\"right_read_only\\\": true}\"

[icdiff]
	options = --highlight --line-numbers
