[user]
	name = fenekku
	email = fenekku@fenekku.com

[alias]
  co = checkout
  ci = commit
  st = status --short
  br = branch
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  sub = reset --quiet HEAD --
  squash = rebase --interactive
  showfiles = show --pretty="format:" --name-only
  branches = branch --all
  tags = tag
  stashes = stash list
  uncommit = reset --mixed
  addinteractive = add --patch
  cleanup = "!git branch | awk '!/master|develop/' | xargs git branch -d"

[color]
	ui = true

[core]
	editor = subl --new-window --wait
[push]
	default = current
[credential]
	helper = cache --timeout 3600

[merge]
tool = sublimerge

[mergetool "sublimerge"]
cmd = subl -n --wait \"$REMOTE\" \"$BASE\" \"$LOCAL\" \"$MERGED\" --command \"sublimerge_diff_views\"
trustExitCode = false

[diff]
tool = sublimerge

[difftool "sublimerge"]
cmd = subl -n --wait \"$REMOTE\" \"$LOCAL\" --command \"sublimerge_diff_views {\\\"left_read_only\\\": true, \\\"right_read_only\\\": true}\"
